In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
from glob import glob

import pandas as pd
import numpy as np

import fungi_classification as fungi

/work1/niejep/SummerSchoolChallenge2022/env/lib/python3.9/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
project_path = '/work1/niejep/SummerSchoolChallenge2022'
network_path = project_path + '/saved_models'
data_path = project_path + '/fungiimages/DF20M/'

### Load training data list

In [34]:
data_file = os.path.join(network_path, "data_with_labels.csv")
train_df = pd.read_csv(data_file)
train_df['set'] = 'train'
train_df

                                                  image  class    set
0     /work1/niejep/SummerSchoolChallenge2022/fungii...      0  train
1     /work1/niejep/SummerSchoolChallenge2022/fungii...      0  train
2     /work1/niejep/SummerSchoolChallenge2022/fungii...      1  train
3     /work1/niejep/SummerSchoolChallenge2022/fungii...      2  train
4     /work1/niejep/SummerSchoolChallenge2022/fungii...      2  train
...                                                 ...    ...    ...
3191  /work1/niejep/SummerSchoolChallenge2022/fungii...    165  train
3192  /work1/niejep/SummerSchoolChallenge2022/fungii...     31  train
3193  /work1/niejep/SummerSchoolChallenge2022/fungii...     34  train
3194  /work1/niejep/SummerSchoolChallenge2022/fungii...    115  train
3195  /work1/niejep/SummerSchoolChallenge2022/fungii...     58  train

[3196 rows x 3 columns]

### Load test data list

In [33]:
fungi.team = "RapidSlug"
fungi.team_pw = "fungi36"
test_df = fungi.get_test_images(data_path)
test_df['set'] = 'test'
test_df

                                                  image class   set
0     /work1/niejep/SummerSchoolChallenge2022/fungii...  None  test
1     /work1/niejep/SummerSchoolChallenge2022/fungii...  None  test
2     /work1/niejep/SummerSchoolChallenge2022/fungii...  None  test
3     /work1/niejep/SummerSchoolChallenge2022/fungii...  None  test
4     /work1/niejep/SummerSchoolChallenge2022/fungii...  None  test
...                                                 ...   ...   ...
8112  /work1/niejep/SummerSchoolChallenge2022/fungii...  None  test
8113  /work1/niejep/SummerSchoolChallenge2022/fungii...  None  test
8114  /work1/niejep/SummerSchoolChallenge2022/fungii...  None  test
8115  /work1/niejep/SummerSchoolChallenge2022/fungii...  None  test
8116  /work1/niejep/SummerSchoolChallenge2022/fungii...  None  test

[8117 rows x 3 columns]

In [35]:
img_paths = set(glob(data_path + '/*.JPG'))
print(len(img_paths))

36393

### Remove test or train data

In [36]:
final_img_paths = img_paths.difference(train_df['image'])
final_img_paths = final_img_paths.difference(test_df['image'])

In [38]:
len(final_img_paths)

25080

In [39]:
final_df = pd.DataFrame(final_img_paths, columns=['image'])
final_df['set'] = 'final'

In [40]:
df_all = pd.concat((train_df, test_df, final_df))
df_all

                                                   image class    set
0      /work1/niejep/SummerSchoolChallenge2022/fungii...     0  train
1      /work1/niejep/SummerSchoolChallenge2022/fungii...     0  train
2      /work1/niejep/SummerSchoolChallenge2022/fungii...     1  train
3      /work1/niejep/SummerSchoolChallenge2022/fungii...     2  train
4      /work1/niejep/SummerSchoolChallenge2022/fungii...     2  train
...                                                  ...   ...    ...
25075  /work1/niejep/SummerSchoolChallenge2022/fungii...   NaN  final
25076  /work1/niejep/SummerSchoolChallenge2022/fungii...   NaN  final
25077  /work1/niejep/SummerSchoolChallenge2022/fungii...   NaN  final
25078  /work1/niejep/SummerSchoolChallenge2022/fungii...   NaN  final
25079  /work1/niejep/SummerSchoolChallenge2022/fungii...   NaN  final

[36393 rows x 3 columns]