In [1]:
import pickle
import os
import shutil
import pandas as pd
import numpy as np

from tqdm import tqdm

In [2]:
data_path = r'C:\Users\nje\OneDrive - Danmarks Tekniske Universitet\Summer school 2022\data\DF20M'

In [3]:
with open("data_sort.pickle", "rb") as fp:
    data = pickle.load(fp)

im_names = data["ims"]
pred_labels = data["preds"]
out_dir = "../sort_fungi_v1"

data_csv_path = "data_with_labels.csv"
df = pd.read_csv(data_csv_path, delimiter=",")
df["image"] = df["image"].str.replace("/work1/niejep/SummerSchoolChallenge2022/fungiimages/DF20M/", "")
df

                      image  class
0     2237852381-222754.JPG      0
1        2237852388-108.JPG      0
2      2237852964-74877.JPG      1
3     2237853192-298146.JPG      2
4     2237853950-148876.JPG      2
...                     ...    ...
3191  2994402316-297758.JPG    165
3192  2994402327-372653.JPG     31
3193  2994403350-222575.JPG     34
3194  2994405342-372717.JPG    115
3195  2994406327-372730.JPG     58

[3196 rows x 2 columns]

In [4]:
if not os.path.isdir(out_dir):
    os.mkdir(out_dir)
    for i in range(183):
        os.mkdir(os.path.join(out_dir, str(i)))

for im_name, label in tqdm(zip(im_names, pred_labels), total=len(im_names)):
    label = f"{label}"
    if im_name in df.values[:, 0]:
        label = f"{ df.values[np.where(im_name == df.values[:, 0])[0][0], 1]}"
        shutil.copyfile(os.path.join(data_path, im_name), os.path.join(out_dir, f"{label}", "0__" + im_name))
    else:
        shutil.copyfile(os.path.join(data_path, im_name), os.path.join(out_dir, f"{label}", im_name))

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████| 36393/36393 [01:40<00:00, 361.86it/s]